@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca:wght@300;400&display=swap');
@media screen and (min-width: 740px) and (min-width: 1440px){
    body{
        background-color: hsl(0, 0%, 95%);
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

    }

    .comp-container{
        display: flex;
        
color: white;
    }

.title{
font-size: 2.4rem;
padding: 2rem 0;
font-family: "Big Shoulders Display";
text-transform: uppercase;
}
.description{
    font-family: "Lexend Deca";
    font-size: 0.8rem;
    line-height: 1.5rem;
   color: hsla(0, 0%, 100%, 0.75);
   font-weight: 300;
}

.orange{
    width: 20vw;
    height: 40vh;
    padding: 2rem;
   background-color:  hsl(31, 77%, 52%);
}
.teal {
    width: 20vw;
    height: 40vh;
    padding: 2rem;
    background-color: hsl(184,100%, 22%);
}
.green{
    width: 20vw;
    height: 40vh;
    padding: 2rem;
    background-color: hsl(179,100%,13%);
}

.btn{
    background-color: white;
    border: none;
    margin-top: 5rem;
    padding: 0.8rem;
    width: 8rem;
font-size: .8rem;
border-radius: 2rem;
font-family: "Lexend Deca";
font-weight: bold;
    
}
#orange{
    color:hsl(31, 77%, 52%);
}
#orange:hover{
    background-color: hsl(31, 77%, 52%);
    color: white;
    border: 0.1rem solid white;
}

#teal{
    color:hsl(184,100%, 22%);

}
#teal:hover{
    background-color:hsl(184,100%, 22%);
    color: white;
    border: 0.1rem solid white;
}


#green{
    color: hsl(179,100%,13%);
}
#green:hover{
    background-color: hsl(179,100%,13%);
    color: white;
    border: 0.1rem solid white;
}

.attribution {
    position: fixed;
    bottom: 0;
 font-size: 11px;
text-align: center;
}
.attribution a {
 color: hsl(228, 45%, 44%);

}


}
